/* BASIC STYLES */
body {
    margin: 0;
    padding: 0.5%;
    font-family: 'Arial', sans-serif;
    color: white;
  }
  
  header {
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  /* NAV BAR */
  #nav_bar {
    margin-top: 0;
    float: right;
  }
  
  #nav_bar li {
    display: inline-block;
    padding: 8px;
  }

  .appbar{
    font-size: 20px;
  }

  pre{
    margin-left: 25px;
  }

  .l1{
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
  }

  .l2{
    height: 38px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 22px;
    margin-top: 10px;
    color: #f28b82;
    margin-left:25px;
  }

  .p{
    float: left;
  }

  p{
    margin-left: 55%;
    margin-block-start: -26px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.nav-links a:hover {
    text-decoration: underline;
  }
  
  
  /* GOOGLE AREA */
  .google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 12px;
    padding-bottom: 20px;
    max-height: 50%;
    max-width: 50%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
  }
  
  .form {
    text-align: center;
    font-size: large;
  }
  
  #form-search { 
    width: 450px;
    line-height: 32px;
    padding: 20px 10px;
  }

  input[type=text]{
width:575px;
border-radius:30px;
border:1px solid #dcdcdc;
height:45px;
border:none;
width:800px;
font-size:16px;
outline: none;    
}

input[type=text]:hover{
box-shadow: 1px 1px 8px 1px #dcdcdca4;
}

input[type=text]:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdcb1;
  outline:none;
  }

input[type=submit]{
  background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

input[type=submit]:hover{
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
  background-color: #303134;
  border: 1px solid #5f6368;
  color: #e8eaed;
  
}

input[type=button]:hover{
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    background-color: #303134;
    border: 1px solid #5f6368;
    color: #e8eaed;
}

input[type=button]{
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial,sans-serif;
  font-size: 16px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

  .form #form-search {
    padding: 0 8px;
  }
  
  #form-search:hover {
    border-color: #e4e4e4;
    padding-top: 0;
  }
  
  .buttons {
    text-align: center;
    margin-bottom: 250px;
  }
  
  /* FOOTER */
  footer  {
    position: fixed;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    
  }
  
  footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 13px;
  }
  
  footer ul {
    float: left;
    padding: 1px;
  }
  
  footer ul a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    float: right;
  }
  
  /* MEDIA QUERIES */
  
  @media screen and (max-width: 400px) {
   
   li.nav-links a {
      display: none;
    }
    
   #google_logo {
     padding: 0;
   }
    
   .buttons {
     display: none;
   }
    
   #form-search {
     width: 100%;
  
   }
    
   footer {
     bottom: 0;
   }
    
   footer ul {
     float: none;
     padding-bottom: 2px;
      
   }
    
   .footer-left {
     text-align: center;
     margin: auto; 
     padding-top: 10px;
      
   }
    
   .footer-right {
     float: none;
     text-align: center;
     
   }
  }
  
  @media screen and (max-width: 565px) {
   
    li.nav-links a {
      display: none;
    }
    
    
   #google_logo {
     padding: 0;
   }
    
   .buttons {
     display: none;
   }
    
   #form-search {
     width: 100%;
  
   }
    
   footer {
  /*    bottom: 0;
     postion: absolute; */
     position:absolute;
     bottom:0;
     width:100%;
     height:60px;
   }
    
   footer ul {
     float: none;
     padding-bottom: 2px;
      
   }
    
   .footer-left {
     text-align: center;
     margin: auto; 
     padding-top: 10px;
      
   }
    
   .footer-right {
     float: none;
     text-align: center;
     
   }
  }

  
  
  
  
  
  
  
  
  
  